<div id="main-slider">
  {% for item in grav.config.plugins.myslider.sliders %}
    <div class="item">
      <a href="{{ item.slider_link }}">
        <img src="{{ item.slider_cache }}" alt="" class="img-responsive">
      </a>
    </div>
  {% endfor %}
</div>
